<html>

<div class="heading">
    <h1>Reviews</h1>
</div>
<body>
<form class="folder-list">
    <div class="folder" *ngFor="let folder of folderlist">
      <h4>Id: {{folder[0]}}&nbsp; &nbsp;
        Plant Name: {{folder[1]}}&nbsp; &nbsp;
        Leaf Apices: {{folder[2]}}&nbsp; &nbsp;
        Leaf Bases: {{folder[3]}}&nbsp; &nbsp;
        Leaf Margin: {{folder[4]}}&nbsp; &nbsp;
      <input class="btn" type="submit" (click)="folderVote(folder[0],'u')" value="Upvote">&nbsp;
      <input class="btn" type="submit" (click)="folderVote(folder[0],'d')" value="Downvote">&nbsp;
      <input class="btn" type="submit" (click)="folderVote(folder[0],'r')" value="Report"></h4>
      <br>
      <div class="row" >
        <div class="card" class="col-auto" *ngFor="let i of imagelist[folder[0]]"> &nbsp;
          <img src="http://localhost:5000/.//static/temp_images/{{folder[1]}}/img_{{i}}.png" class="card-img-top setimg" alt="...">
          <br><br>
          <input class="btn" type="submit" (click)="imgVote(folder[0],i,'u')" value="Upvote">&nbsp;
          <input class="btn" type="submit" (click)="imgVote(folder[0],i,'d')" value="Downvote">&nbsp;
          <input class="btn" type="submit" (click)="imgVote(folder[0],i,'r')" value="Report">
        </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <br><br>
      <button type="button" class="collapsible" (click)="folder.isCollapsed=!folder.isCollapsed; folder.isCollapsed && fetchComments(folder[0]);"  
          [attr.aria-expanded]="!folder.isCollapsed" aria-controls="coll">Reviews</button> <br>
      <div id="coll"  [hidden]="!folder.isCollapsed?true:null" *ngIf="!comments[folder[0]]?.length && folder.isCollapsed; else avail">
        No reviews available.
      </div> 
      <ng-template #avail>
        <div id="coll" [hidden]="!folder.isCollapsed?true:null" *ngFor="let comment of comments[folder[0]]">
           <div class="content">
             {{comment[0]}} &nbsp; &nbsp; &nbsp; {{comment[2]}} 
             <br><br> <p>{{comment[1]}}</p>
           </div>
          </div>
      </ng-template>                  
      <br>
      <form class="comm" #commentForm="ngForm">
        <textarea type="text" name="comm" required [(ngModel)]="msg" placeholder="/*write your opinion*/"></textarea>
        <input class="btn" type="submit" [disabled]="commentForm.invalid" (click)="saveComment(commentForm, folder[0])" value="Submit"> 
      </form>
      <br>
    </div>
  </form>
</body>
</html>