body
{
    padding: 15%;
    background-color: #63d471;
}    
h2{
  text-align: center;  
  color:#FFFFFF;
}

.reg{
    margin-top: 30px;
    text-align: center;
}
.br-tag{
    margin: 5px;
    background-color: #4febc9; 
  }
.br-tag:hover{
    margin: 5px;
    background-color: rgb(113, 231, 113); 
  }